html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

html,
body {
  color: #151515; }

a {
  color: #151515;
  text-decoration: none; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }

.container-fluid {
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }

header nav {
  padding: 55px 20px 0px;
  text-align: center; }
  header nav ul {
    border-bottom: 1px solid #151515; }
  header nav li {
    display: inline-block;
    padding: 0 20px 25px; }
header #logo img {
  max-width: 255px;
  display: block;
  margin: 10px auto; }

#main-img ul {
  overflow: auto;
  width: 100%; }
  #main-img ul li {
    font-size: 0; }
    @media screen and (min-width: 1024px) {
      #main-img ul li {
        float: left;
        width: calc(100% / 8);
        height: 0;
        padding-bottom: calc(100% / 8);
        display: inline-block;
        overflow: hidden; }
        #main-img ul li img {
          width: 100%; }
        #main-img ul li:nth-child(10) {
          width: calc(100% / 8 * 2);
          padding-bottom: calc(100% / 8 *2); }
        #main-img ul li:nth-child(21) {
          margin-top: -12.5%; } }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      #main-img ul li {
        float: left;
        width: calc(100% / 6);
        height: 0;
        padding-bottom: calc(100% / 6);
        overflow: hidden; }
        #main-img ul li img {
          width: 100%; }
        #main-img ul li:nth-child(9) {
          margin-left: calc(100% / 6 * 2); }
        #main-img ul li:nth-child(10) {
          width: calc(100% / 6 * 2);
          padding-bottom: calc(100% / 6 * 2);
          margin-left: calc(100% / 6 * -3); }
        #main-img ul li:nth-child(14), #main-img ul li:nth-child(16) {
          margin-top: calc(100% / 6 * -1); }
        #main-img ul li:nth-child(29), #main-img ul li:nth-child(28) {
          display: none; } }
    @media screen and (max-width: 767px) and (min-width: 320px) {
      #main-img ul li {
        float: left;
        width: calc(100% / 4);
        height: 0;
        padding-bottom: calc(100% / 4);
        display: inline-block;
        overflow: hidden; }
        #main-img ul li img {
          width: 100%; }
        #main-img ul li:nth-child(10) {
          width: calc(100% / 4 * 2);
          padding-bottom: calc(100% / 4 * 2); }
        #main-img ul li:nth-child(13) {
          margin-top: -25%; } }


