@import '_color.scss';
footer {
    text-align: center;
    #footer {
        border-top: 1px solid $maincolor;
        padding: 40px 0;
        .info-group {
            display: flex;
            flex: wrap;
            max-width: 505px;
            margin: 0 auto;
            @include range-width(300px, 576px) {
                display: block;
            }
            &>div {
                padding: 10px;
            }
            .logo {
                display: inline-block;
                flex: 1;
                @include range-width(300px, 576px) {
                    display: block;
                    width: 100%;
                    flex: none;
                }
                img {
                    display: block;
                    max-width: 255px;
                    margin: 0 auto;
                }
            }
            .info {
                display: inline-block;
                text-align: left;
                flex: 1;
                @include range-width(300px, 576px) {
                    display: block;
                    text-align: center;
                }
                h6 {
                    height: 33%;
                    line-height: 150%;
                    &:nth-child(2) {
                        margin: 3% 0;
                    }
                }
            }
        }
    }
    #copyright {
        background: $maincolor;
        color: $gray;
        padding: 10px 0;
    }
}