@import '_color.scss';
@import '_mixin.scss';
body.active {
    height: 100%;
    overflow: hidden;
}

header {
    nav {
        padding: 35px 0 0px;
        text-align: center;
        border-bottom: 1px solid $lightgray;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        z-index: 1;
        @include range-width(320px, 768px) {
            background: $maincolor;
            text-align: left;
            padding: 10px 20px;
        }
        li {
            display: inline-block;
            padding: 20px 20px 25px;
            font-family: "source-han-serif-tc";
            font-weight: 900;
            &.menu {
                float: right;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .phone-nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .mini-logo {
                img {
                    width: 30px;
                    height: 30px;
                }
            }
            .menu {
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .menu-list {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100vh;
            background-color: rgba(#FFF, .4);
            &.active {
                right: 0;
                ul {
                    right: 0;
                    overflow: auto;
                }
            }
            ul {
                position: absolute;
                right: -100%;
                height: 100%;
                background-color: #FFF;
                width: 220px;
                text-align: center;
                padding: 40px 20px;
                transition: .2s;
                box-shadow: -2px 0 30px rgba($maincolor, .5);
                li {
                    display: block;
                    border-bottom: 1px solid $lightgray;
                    &.close {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        z-index: 100;
                        border-bottom: 0;
                        img {
                            width: 15px;
                            height: 15px;
                        }
                        &:hover {
                            opacity: .8;
                        }
                    }
                    &.social {
                        border-bottom: 0;
                        &>div {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            &:nth-child(2) {
                                margin: 0 10px;
                            }
                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }
    }
    &#inner-page {
        nav {
            padding: 0;
            background-color: $maincolor;
            border-bottom: 0;
            @include range-width(300px, 768px) {
                height: auto;
                padding: 10px 20px;
            }
            a {
                color: #fff;
                @include range-width(300px, 768px) {
                    color: $maincolor;
                }
            }
            .menu-list {
                a {
                    color: $maincolor;
                }
            }
            .pc-nav {
                overflow: auto;
                padding: 20px 0;
                li {
                    padding: 0px 20px;
                    line-height: 32px;
                    &.mini-logo {
                        vertical-align: middle;
                        float: left;
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }
                    &.menu {
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}

// index imglist
#wrap {
    margin-top: 100px;
    @include range-width(300px, 768px) {
        margin-top: 52px;
    }
    &.inner-page {
        margin-top: 80px;
        @include range-width(300px, 768px) {
            margin-top: 52px;
        }
    }
}

#logo {
    padding: 20px 0 0;
    img {
        max-width: 255px;
        display: block;
        margin: 0 auto;
    }
}

#main-img {
    ul {
        overflow: hidden;
        width: 100%;
        padding: 35px 0;
        li {
            font-size: 0;
            transition: .2s cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 20px 1px rgba(0, 0, 0, .5);
            }
            // ipad pc
            @include range-width(768px, 0) {
                float: left;
                width: calc((100vw - (100vw - 100%))/ 8);
                height: calc(100vw / 8);
                // padding-bottom: calc(100% / 8);
                display: inline-block;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:nth-child(10) {
                    width: calc((100vw - (100vw - 100%))/ 8 * 2);
                    height: calc(100vw / 8 * 2);
                    ;
                }
                &:nth-child(21) {
                    margin-top: -12.5vw;
                }
            }
            // phone
            @include range-width(320px, 768px) {
                float: left;
                width: calc((100vw - (100vw - 100%))/ 4);
                height: calc(100vw / 4);
                // padding-bottom: calc(100vw / 4);
                display: inline-block;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:nth-child(10) {
                    width: calc((100vw - (100vw - 100%))/ 4 * 2);
                    height: calc(100vw / 4 * 2);
                }
                &:nth-child(13) {
                    margin-top: -25vw;
                }
            }
            &.disable {
                &:hover {
                    transform: none;
                }
            }
        }
    }
}

#news {
    clear: both;
    margin: 20px 0;
    box-sizing: border-box;
    h2 {
        span {
            @extend %italic;
        }
        padding: 20px 0;
        border-bottom: 2px solid $lightgray;
    }
    .list {
        padding: 40px 0;
        max-width: 890px;
        margin: 0 auto;
        li {
            padding-bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 2px;
                background-color: $gray;
                margin: 0 10px;
            }
            span {
                margin-right: 20px;
                &.title {
                    font-family: "source-han-serif-tc";
                    font-weight: 900;
                }
                &.date {
                    letter-spacing: 2px;
                    font-family: "source-han-serif-tc";
                    font-weight: 500;
                    @extend %italic;
                }
                &:last-child {
                    @include range-width(320px, 768px) {
                        display: block;
                        width: 100%;
                        overflow: hidden;
                        padding-left: 40px;
                        margin-top: 10px;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}