@import '_color.scss';
@import '_mixin.scss';
html,
body {
    color: $maincolor;
}

* {
    box-sizing: border-box;
}

a {
    color: $maincolor;
    text-decoration: none;
}

h2 {
    font-size: 1.4rem;
}

h6 {
    font-size: .9rem;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.container-fluid {
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}