@import '_color.scss';
@mixin range-width($min: 0, $max: 0) {
    @if $max==0 {
        @media screen and (min-width: $min) {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $max - 1px) and (min-width: $min) {
            @content;
        }
    }
}

@mixin overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    box-sizing: border-box;
    overflow-y: scroll;
    text-align: center;
}

@mixin custom_select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    &:focus {
        outline-offset: 0;
    }
}

@mixin flex-colum($row, $gap) {
    flex-direction: row;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    @include column-count($row);
    @include column-gap($gap);
}

@mixin triangle($t_width) {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: ($t_width) ($t_width) 0 ($t_width);
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    pointer-events: none;
}

%item-icon {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 5px;
}

%remove {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 5px;
    text-align: center;
    background-color: $maincolor;
    @include border-radius(50%);
    color: #fff;
    cursor: pointer;
}