@import '_color.scss';
@import '_mixin.scss';
.news {
    padding: 40px 0;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
}

.news-list {
    ul {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: top;
            width: calc(100% / 4);
            margin-bottom: 20px;
            @include range-width(300px, 769px) {
                width: calc(100% / 2);
            }
            .news-img {
                max-height: 150px;
                overflow: hidden;
                position: relative;
                img {
                    width: 100%;
                    height: auto;
                    transition: .5s;
                }
                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                    &:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: rgba($maincolor, .4);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                }
            }
            h4 {
                padding: 15px;
                line-height: 150%;
            }
            h5 {
                padding: 15px;
                font-style: italic;
                color: #828282;
                letter-spacing: 2px;
            }
        }
    }
}

.news-single {
    .date {
        color: $gray;
        font-style: italic;
        letter-spacing: 2px;
    }
    .article-group {
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0;
    }
    .article {
        flex: 7;
        @include range-width(300px, 769px) {
            flex: 100%;
        }
        .title {
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
        .content {
            img {
                width: 100%;
                height: auto;
            }
            p {
                margin: 10px 0;
            }
        }
    }
    .others-article {
        flex: 3;
        margin-left: 20px;
        @include range-width(300px, 769px) {
            flex: 100%;
            margin-left: 0;
        }
        h3 {
            font-weight: bolder;
            margin-bottom: 1.2rem;
        }
        ul {
            font-size: 0;
        }
        li {
            img {
                width: 100%;
            }
            .text {
                padding: 20px;
            }
            @include range-width(300px, 769px) {
                display: inline-block;
                width: 50%;
            }
        }
    }
}

.page-num {
    ul {
        text-align: center;
        li {
            display: inline-block;
            padding: 10px;
            margin-bottom: 20px;
        }
    }
}