@import '_color.scss';
@import '_mixin.scss';
#tea-nav {
    background: $maincolor;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }
    li {
        display: inline-block;
        &.active,
        &:hover {
            a {
                color: $yellow;
            }
        }
        a {
            display: inline-block;
            padding: 15px 0;
            color: #fff;
        }
        &.arrow {
            position: absolute;
            right: 0;
            top: 7.5px;
            display: none;
            transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
            img {
                width: 30px;
                height: 30px;
            }
            @include range-width(300px, 768px) {
                display: block;
                width: auto;
            }
            &.animation {
                transform: rotateX(180deg);
            }
        }
    }
    @include range-width(300px, 768px) {
        li {
            width: 100%;
            text-align: center;
            display: none;
            &.active {
                display: block;
                order: -1;
            }
            a {
                width: 80%;
            }
            &.slide {
                display: block;
            }
        }
    }
}

.taiwan-tea {
    .text-area {
        padding: 30px 0 50px;
    }
}

.tea-single-page {
    font-size: 0;
    >div {
        display: inline-block;
        vertical-align: top;
        &.tea-slider {
            width: 40vw;
            .big-img {
                height: 40vw;
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
            .mini-imgs {
                ul {
                    font-size: 0;
                    li {
                        display: inline-block;
                        width: calc(40vw / 4);
                        height: calc(40vw / 4);
                        overflow: hidden;
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        &.tea-info {
            width: 60vw;
            .title {
                padding: 40px 20px;
                background: $maincolor;
                text-align: center;
                h2 {
                    color: #fff;
                }
            }
            .container {
                padding: 15px 30px;
            }
            .content {
                padding: 20px 0;
            }
            .format {
                padding: 20px 0;
                border-top: 1px solid $lightgray;
                p {
                    span {
                        padding-left: 40px;
                    }
                }
            }
        }
        @include range-width(320px, 769px) {
            &.tea-slider,
            &.tea-info {
                width: 100%;
            }
            &.tea-slider {
                .big-img {
                    height: 100%;
                }
                .mini-imgs {
                    ul {
                        li {
                            display: inline-block;
                            width: calc(100vw / 4);
                            height: calc(100vw / 4);
                            overflow: hidden;
                        }
                    }
                }
            }
            &.tea-info {
                .title {
                    padding: 20px;
                    h2 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}